* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/* removing the default css of li tags */
li {
  list-style: none;
}

body {
  margin: 0 15vw;
}

nav {
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 1.5rem;
}

.nav-right-section {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  flex-wrap: wrap;
}

nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
  background: #1e1e21;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 30px;
  /* margin-left: 5vw; */
}

main{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  position: relative;
}

.mainImg{
  width: 18%;
  height: 45vw;
  position: relative;
  top: -220px;
  right: 80px;

}

.main{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.onEarImg{
  width: 10%;
  height: 20vh;
  position: relative;
  top: -220px;
  right: 80px;
}
