* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/* removing the default css of li tags */
li {
  list-style: none;
}

body {
  margin: 0 15vw;
}

nav {
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 1.5rem;
}

.nav-right-section {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  flex-wrap: wrap;
}

nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
  background: #1e1e21;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 30px;
  /* margin-left: 5vw; */
}

main{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  position: relative;
}

.mainImg{
  width: 18%;
  height: 45vw;
  position: relative;
  top: -220px;
  right: 80px;

}

.main{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 5vh 0 0 30px;
}

.OnEarImg{
  width: 38%;
  height: 12vh;
  position: relative;
  left: 5vw;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem 0;
}

.main h4{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.2rem 0 0.5rem 0;
}

.main p{
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 0.2rem 0 1rem 0;
  width: 45%;
}

.shopping-bag-section{
  width: 30%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color:#1E1E21;
  border-radius: 10px;
}

.shopping-bag-section img{
  width: 15px;
  background-color: transparent;
}

.shopping-bag-section p{
  color: white;
  background-color: transparent;
  width: 33%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.shopping-bag-section span{
  background-color: transparent;
}