* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/* removing the default css of li tags */
li {
  list-style: none;
}

body {
  margin: 0 15vw;
}

nav {
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 1.5rem;
}

.nav-right-section {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  flex-wrap: wrap;
}

nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
  background: #1e1e21;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 30px;
  /* margin-left: 5vw; */
}

main{
  width: 100vw;
  display: flex;
  height: 80vh;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  position: relative;
}

@keyframes slide-up {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

.mainImg{
  width: 18%;
  height: 90vh;
  position: relative;
  top: -220px;
  right: 80px;
  animation: slide-up 0.7s ease-out forwards;
}

.main{
  width: 60%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5vh 0 0 30px;
}

.OnEarImg{
  width: 38%;
  height: 12vh;
  position: relative;
  left: 5vw;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem 0;
}

.main h4{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.2rem 0 0.5rem 0;
}

.main p{
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 0.2rem 0 1rem 0;
  width: 45%;
}

.shopping-bag-section{
  width: 30%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color:#1E1E21;
  border-radius: 10px;
}

.shopping-bag-section img{
  width: 15px;
  background-color: transparent;
}

.shopping-bag-section p{
  color: white;
  background-color: transparent;
  width: 33%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.shopping-bag-section span{
  background-color: transparent;
}

.social-media-section{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  top: -50px;
  margin: 40px 0;
}

.specification{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.specification-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
}

.specification-list-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.specification-list-items div img{
  width: 15px;
  height: 15px;
  background-color: transparent;
  margin-bottom: 2px;
}

.specification-list-items div p:first-child{
  font-size: small;
  font-weight: 200;
  margin: 2px 0 2px 0;
}

.specification-list-items div p:last-child{
  font-size: small;
  font-weight: 100;
  color: #bdc0c2;
}

.specification-list-items div{
  width: 60%;
  margin-bottom: 20px;
  font-size: small;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: start;
}

.case{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px ;
}

.case-logo{
  width: 20%;
  height: 8vh;
  margin-bottom: 50px;
}

.case-item{
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.case-item-img{
  width: 45%;
  height: 40%;
  background-color: transparent;
}

.case-item div{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.case-item div p:first-child{
  width: 50%;
  height: 30%;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 25px;
}

.case-item div p:last-child{
  color: #bdc0c2;
  width: 60%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #1E1E21;
}

.case-item div p:last-child img{
  background-color: transparent;
}

